{% extends 'base.html.twig' %}

{% block body %}
    <div class="container ml-auto mr-auto min-h-screen">
        <p class="mb-8">l'oeuvre a bien été supprimé</p>
        <meta http-equiv="refresh" content="2;url={{ path('app_gallery_show', {'id': gallery.id}) }}">
    </div>
{% endblock %}

