{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Modifiér l'oeuvre:</h3>
                    </div>
                    <div class="panel-body d-flex flex-column gap-3">
                        {{ form(EditArtForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

