{% extends 'base.html.twig' %}

{% block title %}Hello GalleryController!{% endblock %}

{% block body %}
    <div class="container ml-auto mr-auto min-h-screen">
        <p class="mb-8">la gallerie a bien été supprimé</p>
        <meta http-equiv="refresh" content="2;url={{ path('app_gallery') }}">
    </div>
{% endblock %}