{% extends 'base.html.twig' %}

{% block title %}Hello GalleryController!{% endblock %}

{% block body %}
    {%  set ngGallery = 0 %}

<ul class="container mt-5 list-unstyled">
    <h1 class="text-dark mb-4">Vos différentes g'Artllery</h1>
    {% for g in galleries %}
        <li class="mb-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-subtitle mb-2 text-muted fs-3">
                        {{g.name}}
                    </h1>
                    <div class="mt-3">
                        <a href="{{ path('app_gallery_delete', {'id' : g.id}) }}" class="card-link btn btn-danger">Supprimer</a>
                        <a href="{{ path('app_gallery_edit', {'id': g.id}) }}" class="card-link btn btn-warning">Modifier</a>
                    </div>
                </div>
            </div>
        </li>
        {%  set ngGallery = ngGallery + 1 %}
    {% endfor %}

    <a href="{{ path('app_gallery_add', { 'id' : app.user.id}) }}" class="btn btn-secondary">
        Ajouter une nouvelle gallerie
    </a>
</ul>
{% endblock %}
