{% extends 'base.html.twig' %}

{% block title %}Hello UserProfileController!{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="panel panel-default">
                    <div class="panel-heading mb-3">
                        <h3 class="panel-title">Mon profil</h3>
                    </div>
                    <div class="container">
                        <div class="panel panel-default">
                            <div class="panel-body d-flex flex-column">
                                <label for="username_id" class="form-label">
                                    nom de compte
                                    {{ form_widget(editProfile.username, {'attr': {'class': 'form-control mb-2 mt-3', 'id': 'username_id'}}) }}
                                </label>
                                <label for="mail_id" class="form-label">
                                    e-mail
                                    {{ form_widget(editProfile.email, {'attr': {'class': 'form-control mb-2 mt-3'}}) }}
                                </label>
                                <label for="password_id" class="form-label mt-3">
                                    mot de passe
                                    <button class="btn btn-info" id="pass">
                                        afficher le mot de passe
                                    </button>
                                    {{ form_widget(editProfile.password, {'attr': {'class': 'form-control mb-2 mt-3'}}) }}
                                </label>
                            </div>
                            {{ form_widget(editProfile.submit, {'attr': {'class': 'btn btn-primary mt-3'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const password = document.querySelector('#pass');
        const passwordInput = document.querySelector('#passsword_id');
        password.addEventListener('click', function () {
            console.log(passwordInput)
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
            }
        });
    </script>
{% endblock %}
