{% extends 'base.html.twig' %}

{% block title %}Hello UserProfileController!{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="panel panel-default">
                    <div class="panel-heading mb-2">
                        <h3 class="panel-title">Modifier mon mot de passe</h3>
                    </div>
                    <div class="container">
                        <div class="panel panel-default">
                            {{ form_start(editPassword) }}
                            <div class="panel-body d-flex flex-column">
                                <label for="password_id" class="form-label mt-3">
                                    {{ form_widget(editPassword.password, {'attr': {'class': 'form-control mb-2 mt-3'}}) }}
                                </label>
                            </div>
                            {{ form_widget(editPassword.submit, {'attr': {'class': 'btn btn-primary mt-3'}}) }}
                            {{ form_end(editPassword) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
